<!-- /templates/page.about.liquid -->

<div class="page--about__wrap">

  <div class="wrapper page-margin">

    <div class="grid">

      <div class="grid__item large-up--two-thirds large-up--push-one-sixth title-wrap">

        {% include 'dots', direction: 'down' %}
        <div class="title-decoration"></div>
        <h1 class="title--decorated">{{ page.title }}</h1>

      </div>

      <div class="grid__item large-up--two-thirds large-up--push-one-sixth">

        <div class="rte">
          {{ page.content }}
        </div>

      </div>

      <div class="grid__item" style="padding-top: 60px;">

        <div class="about__content">
          {% section 'index-columns' %}
          {% section 'reviews' %}
          {% section 'index-custom-cta' %}
        </div>

      </div>

    </div>

  </div>

</div>